/*****************************************************
***************** fonts *******************
*****************************************************/

@font-face {
    font-family: 'ProggySquare';
    src: url('../fonts/ProggySquare.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abel';
    src: url('../fonts/abel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*****************************************************
*****************  general  *******************
*****************************************************/

body {
    font-family: "abel", sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 1.8em;
    color: #888;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    padding: 0!important;
}

/*===============================
 =======  glitch  ======
*===============================*/

.wrap {
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 1em;
}

.wrap.up {
    top: 20%;
}

.glitch-title-light {
    font-family: Gameshow;
    text-align: center;
    font-size: 5.2em;
    color: #777;
}

.glitch-titlez {
    font-family: 'Nova Square', cursive;
    text-align: center;
    font-size: 8.2em;
    color: transparent;
    letter-spacing: .13em;
    line-height: 1.1em;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: grey;
}

.glitch-title.grey {
    color: #999999;
}

@keyframes glitch-title-anim-1 {
  0% {
    clip: rect(14px, 750px, 36px, 0);
  }
  5.88235% {
    clip: rect(45px, 750px, 16px, 0);
  }
  11.76471% {
    clip: rect(93px, 750px, 59px, 0);
  }
  17.64706% {
    clip: rect(67px, 750px, 80px, 0);
  }
  23.52941% {
    clip: rect(115px, 750px, 4px, 0);
  }
  29.41176% {
    clip: rect(21px, 750px, 21px, 0);
  }
  35.29412% {
    clip: rect(24px, 750px, 12px, 0);
  }
  41.17647% {
    clip: rect(82px, 750px, 7px, 0);
  }
  47.05882% {
    clip: rect(91px, 750px, 92px, 0);
  }
  52.94118% {
    clip: rect(30px, 750px, 20px, 0);
  }
  58.82353% {
    clip: rect(16px, 750px, 39px, 0);
  }
  64.70588% {
    clip: rect(71px, 750px, 88px, 0);
  }
  70.58824% {
    clip: rect(57px, 750px, 61px, 0);
  }
  76.47059% {
    clip: rect(41px, 750px, 94px, 0);
  }
  82.35294% {
    clip: rect(4px, 750px, 84px, 0);
  }
  88.23529% {
    clip: rect(30px, 750px, 3px, 0);
  }
  94.11765% {
    clip: rect(37px, 750px, 35px, 0);
  }
  100% {
    clip: rect(62px, 750px, 104px, 0);
  }
}
@keyframes glitch-title-anim-2 {
  0% {
    clip: rect(49px, 750px, 2px, 0);
  }
  5.88235% {
    clip: rect(63px, 750px, 41px, 0);
  }
  11.76471% {
    clip: rect(20px, 750px, 17px, 0);
  }
  17.64706% {
    clip: rect(39px, 750px, 48px, 0);
  }
  23.52941% {
    clip: rect(93px, 750px, 20px, 0);
  }
  29.41176% {
    clip: rect(113px, 750px, 10px, 0);
  }
  35.29412% {
    clip: rect(3px, 750px, 105px, 0);
  }
  41.17647% {
    clip: rect(51px, 750px, 13px, 0);
  }
  47.05882% {
    clip: rect(29px, 750px, 22px, 0);
  }
  52.94118% {
    clip: rect(115px, 750px, 97px, 0);
  }
  58.82353% {
    clip: rect(24px, 750px, 23px, 0);
  }
  64.70588% {
    clip: rect(16px, 750px, 86px, 0);
  }
  70.58824% {
    clip: rect(22px, 750px, 41px, 0);
  }
  76.47059% {
    clip: rect(47px, 750px, 84px, 0);
  }
  82.35294% {
    clip: rect(29px, 750px, 27px, 0);
  }
  88.23529% {
    clip: rect(96px, 750px, 54px, 0);
  }
  94.11765% {
    clip: rect(14px, 750px, 13px, 0);
  }
  100% {
    clip: rect(54px, 750px, 87px, 0);
  }
}
.glitch-title:before, .glitch-title:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #2e3036;
  clip: rect(0, 0, 0, 0);
}

.glitch-title.white:before, .glitch-title.white:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  clip: rect(0, 0, 0, 0);
}

.glitch-title:after {
  left: 2px;
  text-shadow: -1px 0 #94cf9e;
  animation: glitch-title-anim-1 2s infinite linear alternate-reverse;
}
.glitch-title:before {
  left: -4px;
  text-shadow: 2px 0 #fff;
  animation: glitch-title-anim-2 3s infinite linear alternate-reverse;
}

.glitch-title-light:before, .glitch-title-light:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #777;
  clip: rect(0, 0, 0, 0);
}
.glitch-title-light:after {
  left: 2px;
  text-shadow: -1px 0 green;
  animation: glitch-title-anim-1 2s infinite linear alternate-reverse;
}
.glitch-title-light:before {
  left: -2px;
  text-shadow: 2px 0 pink;
  animation: glitch-title-anim-2 3s infinite linear alternate-reverse;
}

/*===============================
 =======  fade  ======
*===============================*/

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  
  -webkit-animation:fadeIn ease-in 1;  
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fade-in.two {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.fade-in.three {
  -webkit-animation-delay: 1.75s;
  -moz-animation-delay: 1.75s;
  animation-delay: 1.75s;
}

.fade-in.four {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

.fadeInDown {
    opacity: 0;
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
}

.fadeInDown.one {
    -webkit-animation-delay: 1.75s;
  -moz-animation-delay: 1.75s;
  animation-delay: 1.75s;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.fadeInUp.one {
    -webkit-animation-delay: 1.75s;
  -moz-animation-delay: 1.75s;
  animation-delay: 1.75s;
}

.fadeInUp.two {
    -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

/*===============================
 =======  typograpgy  ======
*===============================*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "ProggySquare", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #94cf9e;
    line-height: 1.5
}

h1 {
    font-size: 81px;
    letter-spacing: 4.5px;
}

h2 {
    font-size: 25px;
    letter-spacing: 3px;
}

h3 {
    font-size: 1.6em;
    letter-spacing: 2.5px;
}

h4 {
    font-size: 13px;
    letter-spacing: 1.5px;
}

h5 {
    font-size: 12px;
    letter-spacing: 1px;
}

h6 {
    font-size: 10px;
    letter-spacing: 2px;
}

p,
span {
    letter-spacing: 2px;
    line-height: 26px;
    color: #777777;
    font-size: 1.25em;
}

.profile-bio p {
    font-family: abel;
    font-size: 3.6em;
    letter-spacing: .14em;
    font-kerning: auto;
    font-weight: 400;
    line-height: 1.3em;
}

.vertical-text-left,
.vertical-text-right {
    position: absolute;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.vertical-text-left {
    left: -30px
}

.vertical-text-right {
    right: -30px
}

ul {
    padding: 0px
}

ul li {
    list-style: none;
}

.list-meta-element {
    font-size: 1.25em;
}

.list.margin {
/*    position: relative*/
    margin-left: 30px;
}

.list li {
/*    list-style: disc*/
}

.list.mrg-left  {
    margin-left: 40px;
}
.list.number li {
    list-style-type: decimal;
    letter-spacing: 2px;
    line-height: 26px;
    font-size: 1.25em;
}

.list.circle li {
    list-style-type: circle;
}

.list li {
    list-style: none;
}

.list.icon-star li,
.list.icon-check li,
.list.icon-angle li,
.list.icon-angle-circle li {
    padding-bottom: 15px
}

.list.icon-star li:before,
.list.icon-check li:before,
.list.icon-angle li:before,
.list.icon-angle-circle li:before {
    font-family: 'themify';
    position: absolute;
    left: 0px
}

.list.icon-star li:before {
    content: "\e60a";
}

.list.icon-check li:before {
    content: "\e64c";
}

.list.icon-angle li:before {
    content: "\e649";
}

.list.icon-angle-circle li:before {
    content: "\e65d";
}

.bold {
    font-weight: 900;
}

.text-white {
    color: #ececec !important
}

.text-gray {
    color: #8b8b8b !important
}

.text-dark {
    color: #212121 !important;
}

.text-blue {
    color: #00aedb !important;
}

.text-red {
    color: #d32f2f !important;
}

.text-brown {
    color: #bea48b !important;
}

.text-green {
    color: #94cf9e !important;
}

#sojov1 h2 {
    color: #bea48b;
}

#sojov2 h2 {
    color: #00aedb;
}

#work-main.patron h3 {
    color: #d32f2f;
}

h2.imacHover {
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
}

/*****************************************************
***********************  buttons *********************        
*****************************************************/



a {
    color: #fff;
    position: relative;
    text-decoration: none;
}


.a-dark {
    color: #888;
}

.a-brown {
    color: #bea48b;
}

a.strike:after {
    background-color: #bbd6af;
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    left: 0;
    height: 3px;
    transition: width 500ms ease;
    text-decoration: none;
    outline: none;
}

a:hover:after {
    width: 100%;
}


a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #bbd6af;
}

.btn {
    font-family: "Montserrat", Helvetica, sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.btn-icon {
    padding: 10px 10px;
    font-size: 10px
}

.no-border {
    border: 0px !important;
    border-style: none !important
}

.no-margin {
    margin: 0 !important
}

.facebook:hover {
    color: #3B579D
}

.facebook.border {
    border: 1px solid #3b579d;
    background-color: transparent;
    color: #3b579d
}

.facebook.bg,
.facebook.border:hover {
    background-color: #3B579D;
}

.soundcloud:hover {
    color: #FF6A22;
}

.soundcloud.border {
    border: 1px solid #FF6A22;
    background-color: transparent;
    color: #FF6A22
}

.soundcloud.bg,
.soundcloud.border:hover {
    background-color: #FF6A22;
}

.instagram:hover {
    color: #5d4a3b
}

.instagram.border {
    border: 1px solid #5d4a3b;
    background-color: transparent;
    color: #5d4a3b
}

.instagram.bg,
.instagram.border:hover {
  background-image: -webkit-linear-gradient(top, #feda75, #d62976, #962fbf, #4f5bd5);
  background-image: -moz-linear-gradient(top, #feda75, #d62976, #962fbf, #4f5bd5);
  background-image: -ms-linear-gradient(top, #feda75, #d62976, #962fbf, #4f5bd5);
  background-image: -o-linear-gradient(top, #feda75, #d62976, #962fbf, #4f5bd5);
  background-image: linear-gradient(to bottom, #feda75, #d62976, #962fbf, #4f5bd5);
}

.pinterest:hover {
    color: #c9181f
}

.pinterest.border {
    border: 1px solid #c9181f;
    background-color: transparent;
    color: #c9181f
}

.pinterest.bg,
.pinterest.border:hover {
    background-color: #c9181f;
}

.linkedin:hover {
    color: #0177B5
}

.linkedin.border {
    border: 1px solid #0177B5;
    background-color: transparent;
    color: #0177B5
}

.linkedin.bg,
.linkedin.border:hover {
    background-color: #0177B5;
}

/*****************************************************
******************  page load  ********************
*****************************************************/

.page-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: block;
    z-index: 99999999;
}

.loader span {
	font-family: "Nova Square", sans-serif;
    position: absolute;
	font-weight: normal;
    top: 52%;
    font-size: 4em;
    letter-spacing: 15px;
    margin-left: -100px;
    left: 50%;
	margin-top: 20px;
    color: #94cf9e;
}

/*Preloader 1*/

.loader-style-1 {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 4em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s;
    perspective: 9999px;
    color: #94cf9e;
    margin: -40px 0 0 -40px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -37px;
    top: 65px;
    opacity: 1;
}

.loader-style-1.panelLoad {
    z-index: 11;
    top: 45%;
    margin-top: -60px;
    -webkit-animation: panel 2.2s infinite forwards;
    animation: panel 2.2s infinite forwards;
}

.loader-style-1.panelLoad .cube-face {
    color: #94cf9e;
    box-shadow: inset 0 0 0 1px #ef76ae, 0 0 1px 1px #ef76ae;
}

.loader-style-1 .cube-face {
    width: inherit;
    height: inherit;
    position: absolute;
    background: #000;
    box-shadow: inset 0 0 0 1px #94cf9e, 0 0 1px 1px #94cf9e;
    opacity: 1;
    font-family: 'Gameshow', sans-serif;
}

.loader-style-1 .cube-face-front {
    transform: translate3d(0, 0, 40px);
    -webkit-transform: translate3d(0, 0, 40px);
    font-size: 30px;
}

.loader-style-1 .cube-face-back {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 40px);
    transform: rotateY(180deg) translate3d(0, 0, 40px);
}

.loader-style-1 .cube-face-left {
    -webkit-transform: rotateY(-90deg) translate3d(0, 0, 40px);
    transform: rotateY(-90deg) translate3d(0, 0, 40px);
}

.loader-style-1 .cube-face-right {
    -webkit-transform: rotateY(90deg) translate3d(0, 0, 40px);
    transform: rotateY(90deg) translate3d(0, 0, 40px);
}

.loader-style-1 .cube-face-top {
    -webkit-transform: rotateX(90deg) translate3d(0, 0, 40px);
    transform: rotateX(90deg) translate3d(0, 0, 40px);
}

.loader-style-1 .cube-face-bottom {
    -webkit-transform: rotateX(-90deg) translate3d(0, 0, 40px);
    transform: rotateX(-90deg) translate3d(0, 0, 40px);
}

@-webkit-keyframes panel {
    0% {
        -webkit-transform: rotateY(0deg) rotateZ(0deg);
    }
    20% {
        -webkit-transform: rotateY(90deg) rotateZ(0deg);
    }
    40% {
        -webkit-transform: rotateX(45deg) rotateZ(45deg);
    }
    60% {
        -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
    }
    80% {
        -webkit-transform: rotateX(310deg) rotateZ(230deg);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateZ(360deg);
    }
}

@keyframes panel {
    0% {
        -webkit-transform: rotateY(0deg) rotateZ(0deg);
        transform: rotateY(0deg) rotateZ(0deg);
    }
    20% {
        -webkit-transform: rotateY(90deg) rotateZ(0deg);
        transform: rotateY(90deg) rotateZ(0deg);
    }
    40% {
        -webkit-transform: rotateX(45deg) rotateZ(45deg);
        transform: rotateX(45deg) rotateZ(45deg);
    }
    60% {
        -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
        transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
    }
    80% {
        -webkit-transform: rotateX(310deg) rotateZ(230deg);
        transform: rotateX(310deg) rotateZ(230deg);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateZ(360deg);
    }
}

/*****************************************************
********************  nav  ***********************
*****************************************************/

#header {
    position: fixed;
    top: 1.875em;
    left: 0;
    right: 0;
    height: 5em;
    display: block;
    z-index: 99;
}

.header-container {
    max-width: 53em;
    position: relative;
    height: inherit;
    padding: 0 1.25em;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}

.header-nav {
    top: 0;
    left: 1.25em;
    right: 1.25em;
    bottom: 0;
    height: inherit;
    
}

.header-logo {
    width: 3.75em;
    margin: 0 auto;
    z-index: 1;
    top: 0;
    left: 1.25em;
    right: 1.25em;
    position: absolute;
    height: inherit;
    
}

.list-nav {
    padding: 2.0625em;
}

.list-nav-element {
    font-size: 1.7em;
    font-family: ProggySquare;
    letter-spacing: .1em;
    color: #f8d5bf;
    margin: 0 -.625em;
    padding: 0;
    transition: color .2s cubic-bezier(.89, .04, .79, .44)
}

.list-navi-element-profile {
    float: left;
}

.list-navi-element-work {
    float: right;
}

.list-navi-element a {
    padding: 0 .625em;
    display: block;
    position: relative;
    color: #f8d5bf;
    transition: color .2s ease-in-out;
    cursor: pointer
}

.list-navi-element a:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: -.1875em 0 0 -.1875em;
    width: 0;
    height: .1875em;
    background: #2c308c;
    transition: width .2s ease-in-out;
}

.footer-social {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

#pagination {
    margin-top: 5em;
}

#pagination-hero {
    padding: 9em 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #94cf9e;
    text-align: center;
}

#pagination-subtitle {
    z-index: 999;
}

#pagination-title {
    z-index: 9;
}

#pagination-hero:hover #pagination-hover {
    z-index: 1;
    opacity: 0.5;
    padding: 2em;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

#pagination-hover {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    padding: 2em;
    transition: opacity .3s ease-in-out, -webkit-transform .6s ease-in-out;
    transition: opacity .3s ease-in-out, transform .6s ease-in-out;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 12.5em);
    transform: translate3d(0, 0, 12.5em)
}

/*****************************************************
**************  body frame render  *******************
*****************************************************/
#profile {
    z-index: 1;
    position: relative;
}

.parent {
/*    display: flex;*/
}

.container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1.25em;
    margin: 0 auto;
    position: relative;
}

.container-l {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.container-base {
    max-width: 55em;
}

.container-wide {
    max-width: 64em;
}

.container-full {
    min-width: 100%;
}

.container-full-image {
    padding: 4em 0;
}

.container-half {
    width: 50%;
    box-sizing: border-box;
    position: relative;
    padding: 2em;
}

.profile {
    height: 100%;
}

.profile-container {
    position: absolute;
    z-index: 2;
    width: 70em;
    left:0;
    right:0;
    margin-top: 10%;
    margin-bottom: 5%;
}

#work-main {
    display: block;
    box-sizing: border-box;
    padding: 7em 0 0;
    position: relative;
}

.work-container {
    position: absolute;
    z-index: 2;
    left:0;
    right:0;
    margin-bottom: 10%;
}

.work-meta-element {
    width: 33%;
    box-sizing: border-box;
    padding: 0 .625em;
    float: left;
}

.span-clear {
    overflow: hidden;
}

.work-element {
    margin: 0 auto;
    width: inherit;
    margin-top: 6em;
}

.work-element-picture {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.work-element-picture-s {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.work-element.mobile {
    width:375px;
    left:0;
    right:0;
}

.profile-sidebar {
    width: 25%;
    padding-right: 1.25em;
    float: left;
    box-sizing: border-box;
}

#profile-picture {
    width: 16em;
    height: 16em;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    float: none;
}

.profile-bio {
    padding-left: 1.5em;
    width: 75%;
    float: right;
    box-sizing: border-box;
}

.bg-black {
    background-color: black
}

.bg-red {
    background-color: #d32f2f;
}

.profile-body {
    background-color: black
}

.canvas-frame {
    left: 0;
    right: 0;
    width: 100vw;
}

.profile-body .body .canvas-frame {
    position: absolute;
}

.showcase .body {
    min-height: 100vh;
}

.profile-body .body {
    min-height: 100vh;
}

.showcase .body .canvas-frame {
    position: absolute;
    width: 100vw;
    top: 50%;
    height: calc(100vh - 18em);
    margin-top: calc((100vh - 18em)/ -2);
}

.body-profile .body .canvas-frame {
    position: fixed;
    width: 100vw;
    top: 50%;
    height: calc(100vh - 18em);
    margin-top: calc((100vh - 18em)/ -2);
}

.body-profile .body {
    min-height: 100vh;
}

.body-profile .body .canvas-frame {
    z-index: 0;
    position: fixed;
    width: 100vw;
    top: 50%;
    height: calc(100vh - 18em);
    margin-top: calc((100vh - 18em)/ -2);
}

.canvas {
    z-index: 1;
    left: 0;
    right: 0;
    width: 100vw;
    text-align: center;
    margin: 0 auto;
}

#mainrect, #mainrect-patron, #mainrect-sojo {
    height: 100%;
    width: auto;
    margin: 0 auto;
    animation-direction: reverse;
    z-index: 0;
}

#bylogo {
    display: block;
    width: 2.5em;
    margin: 0 auto;
    animation-direction: reverse;
}

.render {
    width: 100%;
    height: calc(100vh - 280px);
    max-width: 53.75em;
    box-sizing: border-box;
    padding: 0 1.25em;
    position: absolute;
    bottom: 7.5em;
    left: 0;
    right: 0;
    margin: 0 auto
}

.work-name2 {
    margin-left: -1em;
}

.work-img {
    z-index: 999;
    display: block;
    position: absolute;
    bottom: 20%;
    right: 10%;
    width: 18em;
}

.work-meta {
    position: absolute;
    font-family: proggysquare;
    font-size: 1.7em;
    display: block;
    -webkit-transform: rotate(-90deg);
    transform: translateY(-90deg)
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    bottom: 29%;
    right: -13%;
}

.work-meta.orobos {
    right: -5%;
}

.work-title {
    margin-top: 10px;
}

.work-date {
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.work-link {
    
}

.work-line {
    position: absolute;
    display: block;
    height: 50px;
    bottom: 2em;
    left: 50%;
    width: .25em;
    background: #92aaad;
    z-index: 4;
}

.shape-line {
    display: block;
    height: 50px;
    bottom: 2em;
    width: .25em;
    background: #92aaad;
    margin: 0 auto;
}

.work-url {
    font-size: 1.7em;
    font-family: Proggysquare,sans-serif;
    font-weight: 700;
    letter-spacing: .1875em;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.5em;
    padding: 0;
    z-index: 4;
    position: absolute;
    bottom: 4em;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: inline-block;
    text-align: center;
}

.work-number {
    font-size: 5em;
    font-family: Proggysquare,sans-serif;
    font-weight: 500;
    color: #92aaad;
    position: absolute;
    bottom: 20%;
    left: 25%;
}

#pages {
    position: fixed;
    bottom: 3.0em;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 3;
}

.list-pages {
    text-align: center;
}

.list-pages-links {
    font-family: proggysquare;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    list-style-type: none;
    list-style: none;
    margin: 0 auto;
    padding: 0 15px;
}

.list-pages-number {
    display: inline-block;
    color: #94cf9e;
}

.list-contact-links {
    font-family: proggysquare;
    font-size: 1.7em;
    letter-spacing: .1em;
    line-height: 1.57em;
}

.list-contact-element {
    text-transform: capitalize;
}

#portfolio.work {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#portfolio.work.sojo {
    background-attachment: scroll;
    background-size: 50em;
}

#portfolio.work.patron {
    background-attachment: scroll;
    background-size: 30em;
}

#portfolio.work.orobos {
    background-attachment: scroll;
    background-size: 30em;
}

video {
    display: block;
    margin: 0 auto;
}

video.desktop {
    width:100%;
}

.shadow {
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.13);
}

/*****************************************************
**********************  responsive  **********************
*****************************************************/

@media (max-width: 1440px) {
/*
    #mainrect,#mainrect-patron,#mainrect-sojo {
        width: 23em;
    }
*/
    .work-line {
        bottom: -.8em;
    }
    
    .work-url {
        bottom: 1.8em;
    }
}

@media (max-width: 768px) {
/*
    #mainrect,#mainrect-patron,#mainrect-sojo {
        width: 27em;
    }
*/
    .glitch-titlez {
        font-size: 6.5em;
    }
    
    .work-name2 {
        margin-left: 0px;
    }
    
    .work-link {
        display: none;
    }
    
    #pages {
        bottom: 2em;
    }
    
    .list-pages-links {
        display: block;
        margin-top: .25em;
    }
    
    .container-base {
        max-width: 35em;
    }
    
    #portfolio.work.sojo {
    background-size: 20em;
    }
    
    .container-half {
        width: 100%;
    }
}

@media (max-width: 414px) {
    .glitch-titlez {
        font-size: 4.1em;
        line-height: .7em;
    }
    
    #header {
        top: .25em;
    }
    
    .list-nav-element {
        font-size: 1.2em;
    }
    
    .profile-container {
        margin-top: 45%;
    }
    
    .profile-sidebar {
        width: 100%;
        margin: 0 0 4em 0;
    }
    
    #profile-picture {
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    
    #profile-contact {
        text-align: center;
    }
    
    .profile-bio {
        width: 100%;
        padding: 0 2em;
    }
    
    .work-meta-element {
        width: 100%;
        padding-bottom: 1.45em;
    }
    
    .list-meta-element {
        width: 100%;
    }
    
    video.mobile {
        width: 300px;
    }
    
    #portfolio.work.patron {
        background-size: 18em;
    }
    
    .work-number {
        font-size: 3em;
        font-weight: 700;
        bottom: 5%;
        left: 19%;
        z-index: 1;
    }
    
    .work-url.werk {
        bottom: -2em;
    }

}

@media (max-width: 375px) {
    .glitch-titlez {
        font-size: 3.5em;
        line-height: 1.1em;
    }
    
    .wrap.up{
        top: 50%;
    }
    
    .showcase .body .canvas-frame {
        top: 45%;
    }
    
    .container {
        padding: 0 0em;
    }
    
    .container-base {
        width: 23.5em;
    }
    
    .profile-container {
        width: 27em;
        margin-top: 55%;
        margin-bottom: 15%;
    }
    
    .profile-sidebar {
        width: 100%;
        padding: 0;
        float: none;
        margin: 0 0 2em 0;
    }
    
    #profile-picture {
        display: block;
        width: 20em;
        height: 20em;
        margin: 0 auto;
    }
    
    #profile-contact {
        margin-top: 1em;
        text-align: center;
    }
    
    .profile-bio {
        width: 100%;
        float: none;
    }
    
    .profile-bio p {
        font-size: 2.6em;
    }
    
    .work-img {
        right: 2%;
        width:  15em;
    }
    
    .list-pages-links {
        font-size: 1.2em;
    }
    
    .work-meta {
        font-size: 1em;
        right: -15%;
    }
    
    .work-meta-element {
        width: 100%;
    }
    
    #portfolio.work.sojo {
        background-size: 20em;
    }
    
    #portfolio.work.patron {
        background-size: 13em;
    }
}


/* IMAC SCROLL THING */ 
.imac {
  padding: 4% 6%;
  margin: 0 auto;
  max-width: 920px;
}

.screen {
  background: #000;
  border-radius: 3% 3% 0 0 / 5% 5% 0 0;
  /* for aspect ratio */
  position: relative;
  width: 100%;
}

.screen:before {
  content: "";
  display: block;
  /* for aspect ratio ~3:5 */
  padding-top: 60%;
}

.logo {
  background: linear-gradient(90deg, #555, #888);
  border-radius: 0 0 3% 3%/ 0 0 33.33% 33.33%;
  /* for aspect ratio */
  position: relative;
  width: 100%;
}

.logo:before {
  content: "";
  display: block;
  /* for aspect ratio ~9:100 */
  padding-top: 2%;
}

.logo:after {
  content: "";
  background: url("");
  left: 50%;
  margin-left: -2.4%;
  position: absolute;
  top: 20%;
  width: 4.8%;
  padding-top: 4.8%;
}

.viewport {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 4%;
  background: #333;
}

.leg {
  margin: 0 auto;
  /* for aspect ratio */
  position: relative;
  width: 20%;
}

.leg:before {
  content: "";
  display: block;
  /* for aspect ratio ~46:100 */
  padding-top: 46%;
  background: linear-gradient(#444, #888 26%, #444 76%, #333 90%, #787878);
}

.foot {
  /* for aspect ratio */
  position: relative;
  width: 20%;
  margin: 0 auto;
  /* for perspective */
  perspective: 180px;
}

.foot:before {
  content: "";
  display: block;
  /* for aspect ratio ~2:5 */
  padding-top: 40%;
  /* for perspective */
  transform: rotateX(68deg);
  transform-origin: center top;
  background: linear-gradient(#7b7b7b, #7f7f7f 39%, #a6a6a6 53%, #ccc 67%, #333 86%, #eee 88%, #fff 95%, #a9a9a9 95%, #000);
  border-radius: 0 0 10% 10% / 0 0 30% 30%;
  box-shadow: 0 -10px 5px rgba(255, 255, 255, 0.1) inset, 0 -17px 6px rgba(0, 0, 0, 0.1) inset;
}


/* Screenshot Hover Scroll Additions
-------------------------------------------------------------- */

.imac .viewport {
  transition: background-position 12s ease;
  background-position: 0 0;
  background-size: 100% auto;
  overflow: hidden;
  cursor: pointer;
}

.imac:hover .viewport {
  background-position: 0 100%;
}

.imac .viewport:after {
  background: radial-gradient(circle at right bottom, transparent 75%, rgba(255, 255, 255, 0.05) 75%, transparent);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}