/* fadeIn ANIMATION */
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}

.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

.fade {
  opacity: 0;
}

/* HIDDEN/VISABLE */
.hidden{
	/*opacity: 0;*/
	display:none;
}

.visible{
	opacity: 1;
}


/* FONTS */
@font-face {
  font-family: telegrafico;
  src: local("telegrafico.ttf"),
  url(../fonts/telegrafico.ttf);
}

@font-face {
    font-family: cocomat;
    src: local("cocomat-light.ttf"),
         url(../fonts/cocomat-light.ttf);
}

@font-face {
    font-family: vevey;
    src: local("vevey.ttf"),
         url(../fonts/vevey.ttf);
}

/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* center styles */
.centered {
  margin: 0 auto;
}

/* nav bar */
.navbar {
	background-color: #1c1708;
  opacity: 0.9;
  box-shadow: 0px 4px 3px rgba(0,0,0,.3);
  font-family: 'telegrafico';
}

.navbar .navbar-header {
    
}

.navbar ul li a {
  color: #ffffff;
}

/*.navbar .container {*/
    left: 0;
    right: 0;
}

.navbar #bs-example-navbar-collapse-1 .nav {
  margin: 0 auto;
  position: absolute;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* vertical-centered text */
.text-vcenter {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
}

hr {
	width: 35%;
}

/*.text-vcenter .container {
	color: #FFFFFF;
	position: center;
  border: double 12px;
  width: 70%;
  height: 200px;
 	box-shadow: 7px 7px 2px rgba(0,0,0,.4);
 	margin: 0 auto;
 	padding: 0;
}*/

.text-vcenter h1 {
	font-family: 'telegrafico';
  text-shadow: 2px 2px 0 rgba(0,0,0,.4);
  letter-spacing: 10px;
  color: #FFFFFF;
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 10px 0 0 0;
}
.text-vcenter h4 {
	font-family: 'vevey';
	font-size: 1.9em;
	color: #FFFFFF;
  text-shadow: 2px 2px 0 rgba(0,0,0,.4);
  letter-spacing: 16px;
}

/* button edits */
.btn {
  background-color: transparent;
  border: double #f5f5f1 2px 2px 0, #498c92 3px 3px 0;
}

.title {
  text-align: center;
  font-family: 'vevey';
  font-size: 4.5em;
  text-shadow: #f5f5f1 2px 2px 0, #498c92 3px 3px 0;
  letter-spacing: 10px;
  margin-top: 100px;
}

/* additional sections */
#home {
  background: url(../img/marble_02.jpg) center; 
  display: table;
  height: 75%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 4px 3px rgba(0,0,0,.3);
}

#home .container {
  padding-top: 50px;
}

#home .by_logo {
  width: 275px;
  height: 275px;
}

#about {
  background-color: #FFFFFF;
  min-height: 475px;
  max-height: 750px;
  overflow: visible;
}

#about .headshot {
  display: block;
  padding: 15px 0 15px 0;
  margin: 0 auto;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.summary {
  font-family: 'cocomat';
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 25px;
}

.more-summary {
  font-family: 'cocomat';
  font-size: 20px;
  line-height: 30px;
  padding: 35px 0 100px 0;
}

#portfolio {
	background-color: #498c92;
	height: 1000px;
	-webkit-transform: skewY(-7deg);
	-moz-transform: skewY(-7deg);
	-ms-transform: skewY(-7deg);
	-o-transform: skewY(-7deg);
	transform: skewY(-7deg);
	box-shadow: 0px 4px 3px rgba(0,0,0,.3);
  overflow: hidden;
}

#portfolio .container-fluid {
	-webkit-transform: skewY(7deg);
	-moz-transform: skewY(7deg);
	-ms-transform: skewY(7deg);
	-o-transform: skewY(7deg);
	transform: skewY(7deg);
}

/* ADDED */
#portfolio {
/*  font-size: 1.8em;*/
  position: relative;
  box-shadow: 0 8px 60px 8px rgba(0,0,0,0.33);
}

.container .no-gutter > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.row .no-gutter > [class*=" col-"] {
  padding-right: 0px;
  padding-left: 0px;
}

.col-md-6.project {
  display: block;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
  padding-right: 0px;
  padding-left: 0px;
}

.project img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  opacity: 1;
}

.project figcaption {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.25em;
  color: #fff;
  width: 100%;
}

.project figcaption::before {
  position: absolute;
  content: '';
}

.project h2,
.project p {
  opacity: 0;
  margin: 0 auto;
  -webkit-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.project h2 {
  text-transform: uppercase;
  font-weight: 800;
}

.project p {
  letter-spacing: 1px;
  font-size: .8em;
  padding-top: 1em;

  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.project:hover img {
  opacity: .2;
}

.project:hover h2 {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 1;
}

.project:hover,
.project:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

#project-1 {
  background: #826159;
}

#project-2 {
  background: #5994CE;
}

#project-3 {
  background: #BBBBBB;
}

#project-4 {
  background: #E5726B;
}


#social-footer {
  height: 75px;
  background-image: url(../img/marble_02.jpg); 
}

#social-footer .social-container {
    width: 140px;
    height: 24px;
    margin: auto;
    padding-top: 30px;
}


/* - FROM PRIME & BEYOND 
#menu {
    background: url() no-repeat center center fixed; 
    display: table;
    height: 75%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    color: #ffffff;
    background-color: #000000;
}

#menu .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#gallery {
  background: url(/prime&beyond/img/PB-SLIDE-02.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#gallery .panel {
  opacity: 0.85;
}

#google_map {
  height: 500px;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}*/



/* MEDIA QUERIES */
@media only screen and (max-width: 640px) {
#banner-container #banner {
        width: 100%;
}
    
.text-vcenter h1 {
	font-size: 3.1em;
	margin-bottom: 0px;
}
.text-vcenter h4 {
    font-size: 1.2em;
    }

.hr {
	margin-bottom: 40px;
}

@media only screen and (max-width: 400px) {
.hr {
	margin-bottom: 10px;
}

