* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: telegrafico;
    src: local("telegrafico.ttf"),
         url(fonts/telegrafico.ttf);
}

@font-face {
    font-family: cocomat;
    src: local("cocomat-light.ttf"),
         url(fonts/cocomat-light.ttf);
}

@font-face {
    font-family: vevey;
    src: local("vevey.ttf"),
         url(fonts/vevey.ttf);
}

body {
	background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

hr {
    margin: 15px auto 0 auto;
    width: 40px;
}

/* NAV */
.navbar {
    background-color: #1c1708;
    opacity: 0.9;
    box-shadow: 0px 4px 3px rgba(0,0,0,.3);

}

.navbar a {
    color: #FFFFFF;
}

/* OLD NAV BAR


#main-nav {
    width: 100%;
    height: 45px;
    background-color: #1c1708;
    opacity: 0.95;
    text-align: center;
    position: fixed;
    box-shadow: 0px 4px 3px rgba(0,0,0,.3);
    font-family: 'Cantarell',sans-serif;
    font-size: 12px;
    z-index: 999;
    color: #FFFFFF;
}

#main-nav ul {
    width: 600px;
    margin: 0 auto;
}

#main-nav ul li {
    margin-top: 13px;
    display: inline-block;
    margin-right: 40px;
} 

#main-nav ul li:first-child {
    margin-left: 40px;
}

#main-nav ul li +li {
    border-left: 1px solid #fff;
    padding-left: 40px;
}

#main-nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    
}

#main-nav ul li a:hover {
    color: #498c92;
}
*/

#banner-container {
    position: relative;
    width: 100%;
    height: 550px;
    background: url(/img/marble_02.jpg) no-repeat center center;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    box-shadow: 0px 7px 1px rgba(0,0,0,.09);
/*    padding-top: 200px;*/
}

#banner-container #banner {
    position: absolute;
    left: 0;
    right: 0;
    color: #FFFFFF;
    border: double 12px;
    width: 800px;
    height: 200px;
    box-shadow: 7px 7px 2px rgba(0,0,0,.4);
    margin: 0 auto;
    margin-top: 200px;
}

#banner .name-container {
    display: inline-block;
    width: 100%;
    margin: 30px 0 20px 0;
}

#banner hr {
    width: 100%;
    margin: 0 auto;
}

#banner .title-container {
    display: inline-block;
    height: 41px;
    width: 100%;
}

#banner h1 {
    text-align: center;
    font-family: 'telegrafico';
	font-size: 70px;
    text-shadow: 2px 2px 0 rgba(0,0,0,.4);
    letter-spacing: 10px;
    display: block;
}

/*CHANGE FONT*/
#banner h4 {
    font-family: 'vevey';
    font-size: 25px;
    text-shadow: 2px 2px 0 rgba(0,0,0,.4);
    text-align: center;
    padding-top: 12px;
    margin-right: auto;
    letter-spacing: 15px;
}   

#about-content {
/*    background-image: url(/img/grid-bg.jpg);*/
    background-size: contain;
    opacity: 100%;
    padding: 100px 0;
}

h2 {
    font-family: 'vevey', sans-serif;
    font-size: 70px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
    margin: 0 auto;
}


h3 {
    font-family: 'Source Serif Pro';
    font-size: 14px;
    color: #000000;
}

#about-content h2 {
    width: 140px;
}

.about-container {
    margin: 20px auto 0 auto;
    border: 00px solid red;
    width: 724px;
}

.headshot {
    display: inline-block;
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    box-shadow: 10px 10px 0px rgba(0,0,0,.4);
    margin-right: 10px;
}

/*image hover changes*/
.headshot:hover {
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
}


#about-text {
    background-color: white;
    display: inline-block;
    width: 500px;
    height: 200px;
    border: solid 10px #000000;
    box-shadow: 10px 10px 0px rgba(0,0,0,.4);
    padding: 30px 30px;
    vertical-align: top;
    line-height: 30px;

}

#portfolio-content {
    background-color: #1c1708;
    padding: 100px;
    width: 100%;
}

.portfolio h2 {
    width: 210px;
    color: #FFFFFF;
/*    margin: 0 auto;*/

}

.portfolio-container {
    overflow: hidden;
    width: 970px;
    height: 970px;
    margin: 50px auto 0 auto;
}

.box {
    margin: 10px;
    border: solid #FFFFFF 3px;
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: #498c92;
/*
    margin-right: 50px;
    margin-bottom: 50px;
*/
/*    margin: 0px 25px 50px 25px;*/
}

/*
.box:nth-child(4) {
    margin-right: 0;
}
*/

#button-container {
    margin: auto;
    padding-top: 30px;
    width: 150px;
}

.more {
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    border: solid 5px #498c92;
    width: 150px;
    height: 50px;
}

.button-more {

}

#social-footer {
    height: 75px;
    background-image: url(/img/main-bg.jpg); 
}

#social-footer .social-container {
    width: 140px;
    height: 24px;
    margin: auto;
    padding-top: 30px;

}

#social-footer .social-container a {
    outline-color: aqua
}

/******************************************************/
/* MEDIA QUERIES
/******************************************************/

@media only screen and (max-width: 820px) {
    
    #about-content {
        text-align: center;
        padding: 20px auto;
    }
    
    .about-container {
        width: 100%;
    }
    
    #about-text {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    
}


@media only screen and (max-width: 640px) {
    
    #banner-container #banner {
        width: 100%;

    }
    
    #banner h1 {
	font-size: 50px;
    letter-spacing: normal;
}
    #banner h4 {
    font-size: 20px;
    }
    
    #about-content {
        text-align: center;
        padding: 20px auto;
    }
    
    .about-container {
        width: 100%;
    }
    
    #about-text {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    
    .portfolio-container {
    width: 100%;
    height: 75%;
}
    .box {
    width: 200px;
    height: 200px;
    
}