#bagItemCountBtn {
    display: table-cell;
    float: right;
    padding: 0;
    background: none;
    border: none;
}
.max-book-width{
        width: 410px;
}

.book-height-based{
    height:888px;
}

.book-dialog-container{
    pointer-events: auto;  
}

.book-appointment {
    color: #212325;
    padding:17px 0 0 25px;
    text-transform: uppercase;
}

.book-appointment-details {
    padding: 26px 0 10px 25px;
    width: 283px;
    color: #212325;
    text-align: left;
}

.book-dialog-container .dialog-bg {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 0.6vh;
    overflow: hidden;
    width: 361px;
    height: 623px;
    border-radius: 4px;
    padding-top:0;
}

.input-row input, .input-row select {
    width: 100%;
    height: 35px;
    padding-left: 16px;
    border: 1px solid #dadfe6;
    color: #7e7e7e;
}
.input-row input:focus, .input-row textarea:focus{
    outline: 2px solid #9b9b9b;
    color:#4a4a4a;
}

.input-row textarea {
    width: 100%;
    padding-left: 16px;
    border: 1px solid #dadfe6;
    color: #7e7e7e;
    height: 151px;
    resize: none;
}

.book-btn{
    position:absolute;
    bottom:15px;
}

button{outline:none;}

.dialog_button {
    background-color: #212325;
    cursor: pointer;
    color: #fff;
    width: 100%;
    border: none;
    bottom: 10px;
    height: 40px;
    text-transform: uppercase;
}

.book-dialog-close {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 24px;
    width: 24px;
    background-size: 100%;
    cursor: pointer;
}
.cart-panel button {
    background: none;
    border: none;
    outline: none;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    padding: 0;
}
.cart-panel button:focus {
    outline: none;
}
.thank-you {
    text-align: center;
    top: 25%;
}

.thank-you h1 {
    text-transform: uppercase;
}

.thank-you p {
    margin-top: 24px;
    color: #212325;
    letter-spacing: 0;
}

@media (max-width: 1025px) and (orientation:landscape) {
    .book-dialog-container .dialog-bg {

        width: 500px;
        height: 623px;
    }
    header .menu{
        padding-left: 46px;

    }
    header div.cart-panel{
        padding-right: 46px;
    }
}
@media (max-width: 400px) and (orientation:portrait) {
    .book-height-based {
        height: 634px;
    }
    .max-book-width {
        width: 375px;
    }
}
