* {
	
}

body {
	background-color: #FFFFFF;
}

#main-nav {
    width: 100%;
    padding: 0px;
    height: 30px;
    background-color: #C4A69D;
    position: fixed;
    
}

#main-nav ul {
    position: fixed;
    margin: auto;
    padding-top: 2px;
    
    

}

#main-nav ul li {
    display: inline-block;    
    
} 

#main-nav ul li +li {
    margin-left: 100px;
}

#main-nav ul li a {
    color: whitesmoke;
}

#main-nav ul li a:hover {
    color: #ffb96c;
}


#profile-content {
    text-align: center;
}

.headshot {
    padding-top: 80px;
    width: 200px;
    height: 200px;
}

h1 {
	font-family: 'Cantarell', sans-serif;
	display: inline-block;
	padding-bottom: 5px;
	color: #C4A69D;
	text-shadow: 2px 2px 0 rgba(0,0,0,.4);
	font-size: 60px;
    padding-left: 170px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 5px;
    border: solid 10px;
    box-shadow: 2px 2px 0 rgba(0,0,0,.4);
}

#test-text {
    width: 600px;
    height: 200px;
    margin: auto;
    margin-bottom: 200px;
    border: solid 10px #C4A69D;
    box-shadow: 2px 2px 0 rgba(0,0,0,.4);

}

h2 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

h3 {
    color: #C4A69D;
    font-family: 'Source Serif Pro';
    line-height: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
}