* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: telegrafico;
    src: local("telegraphico.ttf"),
         url(fonts/telegrafico.ttf);
}

@font-face {
    font-family: cocomat;
    src: local("cocomat-light.ttf'),
         url(fonts/cocomat-light.ttf);
}

body {
	background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

hr {
    margin: 15px auto 0 auto;
    width: 40px;
}

/* NAV */

#main-nav {
    width: 100%;
    height: 45px;
    background-color: #343838;
    opacity: 0.95;
    text-align: center;
    position: fixed;
    box-shadow: 0px 4px 3px rgba(0,0,0,.3);
    font-family: 'Cantarell',sans-serif;
    font-size: 12px;
    z-index: 999;
    color: #FFFFFF;
}

#main-nav ul {
    border: 1px solid red;
    width: 600px;
    margin: 0 auto;
}

#main-nav ul li {
    margin-top: 13px;
    display: inline-block;
    margin-right: 40px;
} 

#main-nav ul li:first-child {
    margin-left: 40px;
}

#main-nav ul li +li {
    border-left: 1px solid #fff;
    padding-left: 40px;
}

#main-nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    
}

#main-nav ul li a:hover {
    color: #498c92;
}

#banner-container {
    position: relative;
    width: 100%;
    height: 550px;
    background: url(/img/main-bg.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    box-shadow: 0px 4px 3px rgba(0,0,0,.3);
/*    padding-top: 200px;*/
}

#banner-container #banner {
    position: absolute;
    left: 0;
    right: 0;
    color: #FFFFFF;
    border: solid 12px;
    width: 500px;
    height: 175px;
    box-shadow: 10px 10px 0px rgba(0,0,0,.4);
    font-family: 'telegraphico',sans-serif;
    text-shadow: 2px 2px 0 rgba(0,0,0,.4);
    margin: 0 auto;
    margin-top: 200px;
}

#banner .name-container {
    display: inline-block;
    width: 100%;
    margin: 30px 0 20px 0;
}

#banner hr {
    width: 100%;
    margin: 0 auto;
}

#banner .title-container {
    display: inline-block;
    height: 35px;
    width: 100%;
}

#banner h1 {
    text-align: center;
    font-family: 'telegrafico';
	font-size: 50px;
    display: block;
}

/*CHANGE FONT*/
#banner h4 {
    font-family: 'cocomat';
    font-size: 30px;
    float: right;
    margin-right: 30px;
}   

#about-content {
    background-color: #ffffff;
    height: 500px;
    
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
    display: block;
    padding-top: 100px;
    margin: 0 auto;
}


h3 {
    font-family: 'Source Serif Pro';
    font-size: 14px;
    color: #000000;

}

#about-content h2 {
    width: 100px;
}

.about-container {
    margin: auto;
    padding-top: 20px;
    height: 300px;
    width: 800px;
}

.headshot {
    display: block;
    float: left;
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    box-shadow: 2px 2px 0 rgba(0,0,0,.4);
    
        
}

/*image hover changes*/
.headshot:hover {
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
}


#about-text {
    width: 500px;
    height: 200px;
    border: solid 10px #000000;
    box-shadow: 2px 2px 0 rgba(0,0,0,.4);
    float: right;
    line-height: 30px;
    padding: 30px 30px;
    
}

#portfolio-content {
    height: 1500px;
    width: 100%;
    background-color: #343838;
}

.portfolio h2 {
    width: 150px;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);

}

.portfolio-container {
    padding-top: 20px;
    overflow: hidden;
    width: 640px;
    height: 1000px;
    margin: auto;
}

.portfolio-container .box1 {
    width: 300px;
    height: 300px;
    float: left;
    background-color: #498c92;
    margin-bottom: 50px;
}

.portfolio-container .box2 {
    width: 300px;
    height: 300px;
    float: right;
    background-color: #498c92;
    margin-bottom: 50px;
}

.portfolio-container .box3 {
    width: 300px;
    height: 300px;
    float: left;
    background-color: #498c92;
    margin-bottom: 50px;
}

.portfolio-container .box4 {
    width: 300px;
    height: 300px;
    float: right;
    background-color: #498c92;
    margin-bottom: 50px;
}

.portfolio-container .box5 {
    width: 300px;
    height: 300px;
    float: left;
    background-color: #498c92;
    margin-bottom: 50px;
}

.portfolio-container .box6 {
    width: 300px;
    height: 300px;
    float: right;
    background-color: #498c92;
    margin-bottom: 50px;
}

#button {
    margin: auto;
    padding-top: 20px;
}

.more {
    margin: auto;
    border: solid 5px #498c92;
    width: 150px;
    height: 50px;
}


#social-footer {
    height: 75px;
    background-image: url(/img/main-bg.jpg); 
}

#social-footer .social-container {
    padding-top: 30px;
    width: 140px;
    height: 24px;
    margin: auto;

}
