* {
	
}

body {
	background-color: #FFFFFF;
}

#main-nav {
    width: 100%;
    height: 50px;
    background-color: #C4A69D;
    text-align: center;
    padding: auto;
    margin: auto;
    position: fixed;
    box-shadow: 0px 4px 3px rgba(0,0,0,.3);
    
}

#main-nav ul {
    padding: auto;
}

#main-nav ul li {
    text-align: center;
    display: inline-block;
    
} 

#main-nav ul li +li {
    margin-left: 80px;
}

#main-nav ul li a {
    color: #D5DED9;
    
}

#main-nav ul li a:hover {
    color: #ffb96c;
}


#banner-content {
    text-align: center;
}

#banner {
    background-color: #D5DED9;
    width: 100%;
    height: 400px;
    padding-top: 100px;
    margin: auto;
    
}


.name {
    width: 400px;
    height: 50px;
	font-family: 'Cantarell', sans-serif;
	display: inline-block;
	color: #C4A69D;
	text-shadow: 1px 1px 0 rgba(0,0,0,.4);
	font-size: 35px;
    border: solid 5px;
    box-shadow: 2px 2px 0 rgba(0,0,0,.4);
    
}
.description {

}

banner-container {
}
    

#test-text {
    width: 600px;
    height: 200px;
    margin: auto;
    margin-bottom: 200px;
    border: solid 10px #C4A69D;
    box-shadow: 2px 2px 0 rgba(0,0,0,.4);

}

h2 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.headshot {
    padding-top: 80px;
    width: 200px;
    height: 200px;
}

h3 {
    color: #C4A69D;
    font-family: 'Source Serif Pro';
    line-height: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
}