/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* nav bar */
.navbar {
    background-color: #;
    opacity: 50%;
}

.navbar ul li a {
    text-align: #FFFFFF;
}

/* nav bar span */


/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
    color: #FFFFFF;
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* additional sections */
#home {
  background: url(../img/PB-SLIDE-01.jpg) no-repeat center center fixed; 
  display: table;
  height: 75%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home .main-logo1 {
    width: 300px;
    
    
}

#about {
    background-color: #c29731;
}

#about .row .logo {
    width: 100px;
    height: 100px;
}

#menu {
    background: url() no-repeat center center fixed; 
    display: table;
    height: 75%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    color: #ffffff;
    background-color: #000000;
}

#menu .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#gallery {
  background: url(../img/PB-SLIDE-02.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#gallery .panel {
  opacity: 0.85;
}

#google_map {
  height: 500px;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}