@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  src: url('https://cdn.nextretail.com/_fonts/MaterialIcons/regular.woff2') format('woff2'),
       url('https://cdn.nextretail.com/_fonts/MaterialIcons/regular.woff') format('woff'), 
       url('https://cdn.nextretail.com/_fonts/MaterialIcons/regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FontAwesome';
    src: url('https://cdn.nextretail.com/_fonts/FontAwesome/fontawesome-webfont.eot');
    src: url('https://cdn.nextretail.com/_fonts/FontAwesome/fontawesome-webfont.eot') format('embedded-opentype'),
        url('https://cdn.nextretail.com/_fonts/FontAwesome/fontawesome-webfont.woff') format('woff'),
        url('https://cdn.nextretail.com/_fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype'),
        url('https://cdn.nextretail.com/_fonts/FontAwesome/fontawesome-webfont.svg#PFDinTextProMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Caslon-Bold';
    src: url('https://cdn.nextretail.com/_fonts/ITC-Caslon224/ITCCaslonBold.ttf');
    src: url('https://cdn.nextretail.com/_fonts/ITC-Caslon224/ITCCaslonBold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}
@font-face {
    font-family: 'Caslon-Medium';
    src: url('https://cdn.nextretail.com/_fonts/ITC-Caslon224/ITCCaslonMedium.ttf');
    src: url('https://cdn.nextretail.com/_fonts/ITC-Caslon224/ITCCaslonMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BrandonGrotesque-Light';
    font-weight: normal;
    src: url("https://cdn.nextretail.com/_fonts/Brandon-Grotesque-Regular/BrandonGrotesque-Light.otf") format("opentype");
}
@font-face {
    font-family: 'BrandonGrotesque-bld';
    font-weight: bold;
    src: url("https://cdn.nextretail.com/_fonts/Brandon-Grotesque-Regular/BrandonGrotesque-bld.otf") format("opentype");
}
@font-face {
    font-family: 'BrandonGrotesque-med';
    font-weight: normal;
    src: url("https://cdn.nextretail.com/_fonts/Brandon-Grotesque-Regular/BrandonGrotesque-med.otf") format("opentype");
}
@font-face {
    font-family: 'BrandonGrotesque-medit';
    font-weight: italic;
    src: url("https://cdn.nextretail.com/_fonts/Brandon-Grotesque-Regular/BrandonGrotesque-med_it.otf") format("opentype");
}
@font-face {
    font-family: 'BrandonGrotesque-reg';
    font-weight: normal;
    src: url("https://cdn.nextretail.com/_fonts/Brandon-Grotesque-Regular/BrandonGrotesque-reg.otf") format("opentype");
}
@font-face {
    font-family: 'BrandonGrotesque-regit';
    font-weight: italic;
    src: url("https://cdn.nextretail.com/_fonts/Brandon-Grotesque-Regular/BrandonGrotesque-reg_it.otf") format("opentype");
}
@font-face {
    font-family: 'BrandonGrotesque-thin';
    font-weight: normal;
    src: url("https://cdn.nextretail.com/_fonts/Brandon-Grotesque-Regular/BrandonGrotesque-thin.otf") format("opentype");
}
.h1 .xl{
    fontsize: 44;
    lineheight: 48;
    letterspacing: -0.5;
}

.h1{
    fontsize: 32;
    lineheight: 40;
    letterspacing: -0.3;
}

.h2{
    fontsize: 24;
    lineheight: 28;
    letterspacing: -0.3;
}

.h3{
    fontsize: 18;
    lineheight: 26;
    letterspacing: -0.2;
}

.h4{
    fontsize: 16;
    lineheight: 24;
    letterspacing: -0.2;
}

.body .xxlarge{
    fontsize: 44;
    lineheight: 48;
    letterspacing: -0.5;
}

.body .xlarge{
    fontsize: 32;
    lineheight: 40;
    letterspacing: -0.3;
}

.body .large{
    fontsize: 24;
    lineheight: 28;
    letterspacing: -0.3;
}

.body .medium{
    fontsize: 18;
    lineheight: 26;
    letterspacing: -0.2;
}

.body{
    fontsize: 16;
    lineheight: 24;
    letterspacing: -0.2;
}

.body .small{
    fontsize: 14;
    lineheight: 22;
    letterspacing: auto;
}

.body .xsmall{
    fontsize: 12;
    lineheight: 14;
    letterspacing: auto;
}

.body .xxsmall{
    fontsize: 11;
    lineheight: 13;
    letterspacing: auto;
}

.PDPColor1{
    color: white;
}

.PDPColor2{
    color: white;
}

.PDPColor3{
    color: white;
}

.CheckoutColor1{
    color: white;
}

.CheckoutColor2{
    color: white;
}

.CheckoutColor3{
    color: white;
}